@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');

html, body {
    height: 100%;
    margin: 0;
    border: 0;
}

main {
    margin: 0;
    padding: 0;
    background-image: url("https://images.unsplash.com/photo-1475368754617-6d70294be037?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjE5Mjc4fQ%3D%3D%0A&s=b490df3d507fe4fbd8d0f4da21906a93");

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
     
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;
    font-family: 'Fredericka the Great', cursive;
    text-shadow: 3px 3px 10px black;
}

div {
    line-height: 10vh;
    font-size: 2em;
    text-align: center;
}

#location {
    font-size: 4em;
}

img {
    height: 75px;
    width: 75px;
    border: 2px solid grey;
    border-radius: 50%;
    -moz-box-shadow: 3px 3px 2px black;
    -webkit-box-shadow: 3px 3px 2px black;
    box-shadow: 3px 3px 2px black;
}

button {
  position: relative;
  cursor: pointer;
  color: black;
  font-weight: bold;
  margin: 0 15px 0 0;
  border-radius: 4px;
  font-family: 'Fredericka the Great', cursive;
  font-size: 1rem;
  padding: 8px 15px;
  -moz-box-shadow:    inset 0px 1px 0px 0px black;
  -webkit-box-shadow: inset 0px 1px 0px 0px black;
  box-shadow:         inset 0px 1px 0px 0px black;
  border: 1px solid grey;
  text-shadow: 0 1px 1px black;
  transition: all 0.3s ease;
  letter-spacing: 1.1px;
}

    button div{
        margin: 0;
        padding: 0;
        line-height: 20px;
        font-size: 1.5em;
    }
    
    button:hover{
        background: hsl(16, 100%, 30%);
        padding: 8px 15px;
        border: 1px solid grey;
        box-shadow: 0px 0px 15px hsl(16, 100%, 30%);
        font-family: 'Fredericka the Great', cursive;
        color: white;
        font-size: 1.05rem;
        letter-spacing: 1.1px;
    }

    button:focus{
        color: black;
        outline: none;
    }
    
.hideElement {
    display: none;
}

footer {
    height: 10%;
    position: absolute;
    top: 90vh;
    right: 0;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Fredericka the Great', cursive;
    font-size: 0.8em;
    color: grey;
}

footer p {
    margin: 0 10px;
    padding: 0;
    transition: all 0.4 ease;
}

footer p:hover {
    color: #ede8e8;
}

a {
    text-decoration: none;
    transition: all 0.4s ease;
    color: grey;
}

a:hover {
    color: #02d6fc;
    font-size: 1.2em;
}

a i {
    padding: 0 7px;
    color: #02d6fc;
}